/* Contributors */
.contributors {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0em;
    padding: 5em 2em;
    flex-wrap: wrap;
    width: 100%;
    min-height: auto;
    background-color: #000;
    font-family: "Montserrat", sans-serif;
  }
  
  .concard {
    background-color: #ffff;
    padding: 0.2em 0.5em;
    color: #222;
    height: 12em;
    width: 10em;
    border-radius: 5px;
    margin: 1.5em 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .concard:hover {
    background-color: #fb036b;
    border-bottom: 5px solid #fff;
    color: #fff;
    transform: translateY(-7.5px);
    transition: background-color 0.5s ease, transform 1s ease,
      border-bottom 0.5s ease 0.2s;
  }
  
  .concard .pfp {
    width: 50%;
    border-radius: 100%;
  }
  
  .text {
    margin: 1em 0em 0em 0em;
    text-align: center;
    font-size: 0.9em;
  }
  
  .text h1 {
    font-weight: 600;
    font-size: 20px;
    font-family: "Teko", sans-serif;
  }

  .Logo{
    margin: 0.6em 0em 0em 0em;
  width: 25%;
  border-radius: 100%;
  background-color: #ffff;
  }
  