@media{
       .containerx {
        top: 40%;
        bottom: 40%;
        transform-style: preserve-3d;
      }
      
      #about_us div {
          padding: 10px;
          display: block;
      }
      
      .cards {
          position: relative;
          width: 90vw;
          height: 100%;
      }
      
      #about-quad {
          display: none;
      }
  }
  
